*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

section{
    min-height: 100vh;
}

header{
    background-color: #00000077;
    width: 100%;
    height: 60px;
}

.py-6 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.base-padding{
    padding-left: 24rem;
    padding-right: 24rem;
}

#home{
    display: grid;
}

.img-container{
    max-width: 600px;
}

@media (max-width:1248px) {
    section{
        flex-direction: column;
        align-items: center;
    }

    section div{
        width: 100%;
    }

    .img-container{
        margin: 0 auto;
    }
    
    #home-stats p{
        font-size: 20px;
    }

}

@media (max-width:991px) {
    .navbar-nav{
        display: none;
    }
    
}

@media (max-width:450px) {
    #home-stats p{
        font-size: 14px;
    }
    
}